.login-section{
  margin: 100px;
}
.overlay{
  opacity:0.8;
  background: -webkit-linear-gradient(left, #fa6a48, #ffcf5f);
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1000;
}
.login-failed{
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  width: 65%;
  background-color: red;
}

.login-failed-text, .register-success-text{
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  color: aliceblue;
}


.login {
  background: -webkit-linear-gradient(left, #fa6a48, #ffcf5f);
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}
