<div class="main">
  <div *ngFor="let model of models" class="display-recipes">
    <div class="card card-blog">
      <div class="card-image" [routerLink]="['/recipes', model.id]">
        <img class="img" src="../../../assets/images/meal.jpeg" alt="meal">
        <div class="ripple-cont"></div>
      </div>
      <div class="table">
        <h6 class="category text-success"><i class="fa fa-university"></i>Type of meal (enum): {{ model.typeOfMeal }}</h6>
        <h4 class="card-caption">
          <a [routerLink]="['/recipes', model.id]">{{ model.title }}</a>
        </h4>
        <p class="card-description">{{ model.preparation }}</p>
        <div class="ftr">
            <div class="stats"> <i class="fa fa-clock-o"></i> {{ model.numOfCalories }} calories </div>
        </div>
      </div>
    </div>
  </div>
</div>
