<app-header></app-header>

<div id="main">
  <div class="container p-3">
      <div class="row">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Shopping Lists</h5>
              <div class="card-text" *ngFor="let shoppingList of shoppingLists">
                <a [routerLink]="['/shopping-list/', shoppingList.id]">Shopping List {{ shoppingList.id }}</a>
                <hr>
              </div>
            </div>

          </div>

        </div>
        <div class="col">
          <ng-content></ng-content>
        </div>
      </div>

  </div>
</div>


<app-footer></app-footer>
