<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">Foodie Admin Panel</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="openRecipesList()">Recipes</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="openNutritionIssuesList()">Nutrition issues</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="openIngredientsList()">Ingredients</a>
<!--    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>-->
<!--    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>-->
<!--    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>-->
  </div>
</div>
