<div class="d-flex" id="wrapper">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <app-admin-top-navigation></app-admin-top-navigation>
    <!-- Page content-->
    <div class="container-fluid">
      <p class="h3 pt-3 pb-3">Add Nutrition Issue</p>
      <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="nutritionIssueModel.name" name="name" type="text" class="form-control" id="name" placeholder="Enter recipe title">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
