.register-section {
  margin: 100px;
}
.overlay{
  opacity:0.8;
  background: -webkit-linear-gradient(left, #fa6a48, #ffcf5f);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}
.sign-up {
  background: -webkit-linear-gradient(left, #fa6a48, #ffcf5f);
  /*background-color: #0079D3;*/
  /*border-color: #0079D3;*/
  /*color: aliceblue;*/
  /*fill: #0079D3;*/
  /*border: 1px solid;*/
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

