
          <h4>Register</h4>
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div>
              <label for="email_address">E-Mail Address</label>
              <div>
                <input type="text" [formControlName]="'email'" id="email_address" class="form-control" name="email-address" required
                       autofocus>
                <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                  Please provide a valid E-mail</span>
              </div>
            </div>
            <div>
              <label>First Name</label>
              <div>
                <input type="text" [formControlName]="'firstName'" class="form-control" required autofocus>
                <span *ngIf="!signupForm.get('firstName').valid && signupForm.get('firstName').touched">
                  Please provide a valid First name</span>
              </div>
            </div>
            <div>
              <label>Last Name</label>
              <div>
                <input type="text" [formControlName]="'lastName'" class="form-control" required autofocus>
                <span *ngIf="!signupForm.get('lastName').valid && signupForm.get('lastName').touched">
                  Please provide a valid Last Name</span>
              </div>
            </div>

            <div>
              <label for="password">Password</label>
              <div>
                <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password" required>
                <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                  Please provide a valid Password</span>
              </div>
            </div>

            <span>
              <button type="submit" class="sign-up">
                Sign Up
              </button>
              <span>Existing user? <a routerLink="/login">Log In</a></span>
            </span>
          </form>
