<div class="d-flex" id="wrapper">
  <div class="border-end bg-white" id="sidebar-wrapper">
    <!-- Sidebar navigation -->
    <div class="sidebar-heading border-bottom bg-light">Foodie Admin Panel</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="openRecipesList()">Recipes</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="openNutritionIssuesList()">Nutrition issues</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="openIngredientsList()">Ingredients</a>
    </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="#">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content-->
    <div class="container-fluid">
      <ng-content></ng-content>
    </div>
  </div>
</div>
