<nav id="header" class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="toogle-button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a id="logo" class="navbar-brand" [routerLink]="['/']">Foodie</a>
    </div>

    <ul id="link" class="nav navbar-left">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/recipes']">Recipes</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul id="link" class="nav navbar-right">
      <div *ngIf="!isLoggedIn" class="nav navbar-right">
        <li><a [routerLink]="['/login']">Sign In</a></li>
        <li id="button-link"><a [routerLink]="['/signup']">Sign Up</a></li>
      </div>
      <div *ngIf="isLoggedIn">
        <li><a href="#">Meals</a></li>
        <li><a href="#">My Profile</a></li>
        <li><button (click)="logout()">Logout</button></li>
        <li><a [routerLink]="['/meal-planning']"><fa-icon [icon]="faShoppingCart" style="color: #fa6a48;"></fa-icon></a></li>
      </div>
    </ul>
  </div>
</nav>
