<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="color-overlay"></div>
    <h1 class="display-4">WELCOME</h1>
    <p class="lead">Your first place to search for the next recipe to cook.</p>
    <a class="start-btn" [routerLink]="['/recipes']">Get started</a>
  </div>
  <app-recipes></app-recipes>
  <div class="view-all">
    <a class="start-btn" [routerLink]="['/recipes']">View All Recipes</a>
  </div>
  <div class="meal-part">
    <p class="lead"> > Try out customized meal planning feature! < </p>
    <a *ngIf="isLoggedIn" class="start-btn" [routerLink]="['/meal-planning']">Create Daily Meal Plan</a>
    <a *ngIf="!isLoggedIn" class="start-btn" [routerLink]="['/login']">Create Daily Meal Plan</a>
  </div>
</div>
