#main {
  background-color: #f5f8fa !important;
  padding: 100px 0;
}

img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  width: 175px;
  height: 175px;
}

.user {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.btn {
  background-color: #fa6a48;
  color: #fff;
  border-radius: 2px;
}

.btn:hover, .btn:focus, .btn.active {
  background-color: white;
  color: #fa6a48;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

.remove {
  background-color: white !important;
  border: 1px solid #fa6a48;
  color: #fa6a48 !important;
}

.remove:hover {
  color: white !important;
  background-color: #fa6a48 !important;
}
