body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    background-color:aliceblue;
}

.wrapper{
    margin:0 auto;
    width:1100px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#header{
    background-color: cornflowerblue;
}
header h1{
    color:antiquewhite;
}

header nav a{
    margin:10px;
    padding:10px;
    border-radius: 5px;
    text-decoration: none;
    color:antiquewhite;
}

header nav a:hover{
    transition:ease-in 0.15s;
    background-color:black;
    color:antiquewhite;
}

#redovi1{
    display:flex;
    flex-wrap:nowrap;
}

.row{
    margin:10px;
}

.row a{
    padding:10px;
    text-decoration:none;
    color:antiquewhite;
    background-color: black;
}